cairocffi==1.2.0
CairoSVG==2.5.2
certifi==2020.12.5
cffi==1.14.5
cssselect2==0.4.1
cssutils==2.2.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.7.1
imageio==2.9.0
kiwisolver
lxml==4.6.3
matplotlib 
networkx==2.5.1
numpy
olefile 
opencv-python==4.5.2.52
pandas==1.2.4
Pillow 
pycairo==1.20.0
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.1
pytz 
PyWavelets==1.1.1
reportlab==3.5.65
scikit-image==0.18.1
scipy==1.6.3
six 
SQLAlchemy 
tifffile==2021.4.8
tinycss2==1.1.0
tornado 
tqdm==4.60.0
webencodings==0.5.1
